/* style.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1d19193b;
    overflow-x: hidden;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#counter {
    font-size: 3em;
    color: #ff6347;
    margin-bottom: 20px;
}

button {
    font-size: 1.2em;
    padding: 18px 25px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;

    /* Pour que les boutons ne soient pas trop grands sur mobile */
    @media (max-width: 600px) {
        font-size: 1.1em;
        padding: 10px 20px;
    }
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input {
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}
